# 제외할 폴더
.cache/
.config/
.cursor-server/
.landscape/
.local/
.npm/
.nvm/
.pki/
.rpmpdb/
.vim/
.vscode-server/
.gitconfig/

# 제외할 파일
.bash_history
.bash_logout
.bashrc
.gitconfig
.motd_shown
.profile
.sudo_as_admin_successful
.viminfo
.wsl-config

# 포함할 폴더
!client/
!server/